/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/**
 * App Custom CSS
 * -----------------------------------------------------
 * Custom CSS used in this app.
 *
 */
@import './theme/custom.scss';

/**
 * App Custom Fonts
 * -----------------------------------------------------
 * Custom fonts used in this app.
 *
 */
@import './theme/fonts.scss';

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ddd !important;
}

.pwa-container {
  width: 100% !important;
  margin: 0 auto !important;
  box-sizing: border-box !important;
  background-color: white !important;
}

@media (min-width: 1024px) {
  .pwa-container {
    max-width: 480px !important;
  }
}

ion-modal {
  --max-width: 100%; 
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
